{{ define "templates/oauth_login.tmpl" }}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
        </head>
        <body>
            <script>
                if (window.opener) {
                window.opener.postMessage({
                      type: '{{ .type }}',
                      payload: {
                        token: '{{ .token }}',
                      }
                    }, '*');
                }

                window.close();
            </script>
        </body>
    </html>
{{ end }}